﻿@using Inventory.Domain;
@model Group

@{
    ViewBag.Title = "Edit";
    List<string> checkedItems = new List<string>();
    foreach (Permission item in Model.Permissions)
    {
        checkedItems.Add(item.PermissionKey);
    }
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        <div>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.GroupID)
            @Html.HiddenFor(model => model.IsActive)
            @Html.HiddenFor(model => model.InitTransferLogId)
            @Html.HiddenFor(model => model.TransferLogId)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.CreateDate)
            @Html.HiddenFor(model => model.ModifiedDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GroupName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupName)
                @Html.ValidationMessageFor(model => model.GroupName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserTypeID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @(Html.Kendo().TreeView()
            .Name("TreeView")
            .Checkboxes
                    (
                        checkboxes => checkboxes
                        .Name("checkedFiles")
                        .CheckChildren(true)
                    ).BindTo
                        (
                            "sample", (item, siteMapNode) =>
                                        {
                                            item.Id = siteMapNode.Attributes["id"].ToString();
                                        }
                        ).ItemAction(item =>
                                        {
                                            item.Checked = checkedItems.Contains(item.Id);
                                        }
                                    )
            )
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}