﻿@model Inventory.Domain.Group

@{
    ViewBag.Title = "Create User Group";
}

<h2>Create User Group</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.GroupName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupName)
                @Html.ValidationMessageFor(model => model.GroupName)
            </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserTypeID, "UserType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.UserTypeID)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div>
            @(Html.Kendo().TreeView()
            .Name("TreeView")
            .Checkboxes
                    (
                        checkboxes =>
                        {
                         checkboxes
                        .Name("checkedFiles")
                        .CheckChildren(true);
                        }
                    ).BindTo
                        (
                            "sample", (item, siteMapNode) =>
                                            item.Id = siteMapNode.Attributes["id"].ToString()
                        )
             )
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}