﻿@using Inventory.Domain
@using Inventory.WebUI

@{
    ViewBag.Title = "Report";
}

<h2>Monthly Stationary & other Expenditure Report</h2>
<div class="clearfix visible-xs"></div>
<div>
    @using (Ajax.BeginForm("ViewReport", "Report", new AjaxOptions()
    {
        UpdateTargetId = "purchaseView",
        HttpMethod = "Post",
        OnSuccess = "onSuccess"
    }))
    {
        <div>
            @{
                Html.RenderPartial("_DateTimeFilteringPartial", new DateTimeViewModel());
             }
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <table width="100%" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td width="30%" style="text-align: right"><strong>Unit</strong></td>
                                                <td width="70%">
                                                    @Html.DropDownList("UnitId", null, "-- Select Unit --",
                                                                     new
                                                                     {
                                                                         @class = "form-control",
                                                                         @id = "UnitId",
                                                                         //@onchange = "javascript:cascadingDropDown();"
                                                                     })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-6">
                                    <table width="100%" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td width="30%" style="text-align: right"><strong>Department</strong></td>
                                                <td width="70%">
                                                    @Html.DropDownList("DepartmentId", null, "-- Select Department --",
                                                                    new
                                                                    {
                                                                        @class = "form-control",
                                                                        @id = "DepartmentId",
                                                                    })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-6">
                                    <table  cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td width="120" style="text-align: right"><strong>Item Category</strong></td>
                                                <td width="320" style="text-align: right">
                                                    @Html.DropDownList("ItemCategoryId", null, "-- Select Item Category --",
                                                        new
                                                        {
                                                            @class = "form-control",
                                                            @id = "ItemCategoryId",
                                                        })
                                                </td>

                                                
                                            </tr>
                                         
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix visible-xs"></div>

                                <div class="col-xs-6" >
                                    <table width="100%" cellpadding="5">
                                        <tbody>
                                            <tr>
                                                <td width="30%" style="text-align: right"><strong>Item</strong></td>
                                                <td width="70%">
                                                    @Html.DropDownList("ItemId", null, "-- Select Item --",
                                                                    new
                                                                    {
                                                                        @class = "form-control",
                                                                        @id = "ItemId",
                                                                    })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    
                                </div>

                                <div class="col-xs-6">
                                    <table cellpadding="5" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="30%" >
                                                   
                                                </td>
                                                <td width="70%">
                                                    <input type="radio" name="rdoRptType" value="UnitWise" checked="checked">Unit Wise Distribution<br />
                                                    <input type="radio" name="rdoRptType" value="ItemWise">Item Wise Consumption
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="30%">
                                                <td >
                                                    <input type="radio" name="rdoRptRenderType" value="Pdf" checked="checked">View
                                                    <input type="radio" name="rdoRptRenderType" value="Excel">Export
                                                </td>
                                                <td width="70%" style="text-align: right"><input id="btnSubmit" type="submit" value="Show Report" /></td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>

<div><a href="@Url.Action("StockReport", "Report", new { id= "PDF" })" target="_blank">Current Stock</a></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function cascadingDropDown() {
            var UnitId = $("#UnitId").val();
            if (UnitId > 0) {
                var Url = '@Url.Action("GetDeptByUnit", "Report")';
                $.ajax({
                    type: 'GET',
                    url: Url,
                    dataType: 'json',
                    async: false,
                    data: { unitId: UnitId },
                    success: function (data) {
                        $("#DepartmentId").empty();

                        if ($.isEmptyObject(data)) {
                            alert("No Department found for the selected Unit");
                            $("#DepartmentId").prop("disabled", true);
                        } else {
                            for (index = 0; index < data.length; index++) {
                                if (index == 0)
                                    $("#DepartmentId").append("<option value='" + data[index].value + "' selected=\"selected\">" + data[index].Text + "</option>");
                                else
                                    $("#DepartmentId").append("<option value='" + data[index].value + "'>" + data[index].Text + "</option>");
                            }
                            $("#DepartmentId").prop("disabled", false);
                            //$.each(data, function(index, item) {
                            //    $("#DepartmentId").append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                            //});
                        }
                    }
                });
            } else {
                $("#DepartmentId").empty();
                $("#DepartmentId").prop("disabled", true);
            }
        }
    </script>
}

@*<style>
        table {
            border-top: 1px;
            border-left: 1px;
            text-align: left;
        }

            table td.labels {
                width: 100px;
                text-align: right;
                padding-top: 5px;
            }

        .col-md-10 {
            width: 100%;
            vertical-align: middle;
            padding-top: 4px;
        }
    </style>*@
