﻿@using Inventory.Domain
@using Inventory.WebUI


<h1>Inventory Report</h1>
<div id="dateFilter">
    @{
        Html.RenderPartial("_DateTimeFilteringPartial", new DateTimeViewModel());
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            Unit
        </div>
        <div class="col-md-4">
            @Html.DropDownList("UnitId", null, "-- Select Unit --",
                                                        new
                                                        {
                                                            @class = "form-control",
                                                            @id = "UnitId",
                                                            @onchange = "javascript:cascadingDropDown();"
                                                        })
        </div>
        <div class="col-md-2">
            Department
        </div>
        <div class="col-md-4">
            @Html.DropDownList("DepartmentId", null, "-- Select Department --",
                                                                    new
                                                                    {
                                                                        @class = "form-control",
                                                                        @id = "DepartmentId",
                                                                    })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Item Category
        </div>
        <div class="col-md-4">
            @Html.DropDownList("ItemCategoryId", null, "-- Select Item Category --",
                                                        new
                                                        {
                                                            @class = "form-control",
                                                            @id = "ItemCategoryId",
                                                        })
        </div>
        <div class="col-md-2">
            Item
        </div>
        <div class="col-md-4">
            @Html.DropDownList("ItemId", null, "-- Select Item --",
                                                                    new
                                                                    {
                                                                        @class = "form-control",
                                                                        @id = "ItemId",
                                                                    })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="radio" name="rdoRptType" value="UnitWise" checked="checked">Unit Wise Distribution<br />
            <input type="radio" name="rdoRptType" value="ItemWise">Item Wise Consumption
        </div>
        <div class="col-md-4">
            <input type="radio" name="rdoRptRenderType" value="Pdf" checked="checked">View
            <input type="radio" name="rdoRptRenderType" value="Excel">Export
        </div>
        <div class="col-md-4">
            <button id="btnSubmit">Report</button>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function cascadingDropDown() {
            var UnitId = $("#UnitId").val();
            if (UnitId > 0) {
                var Url = '@Url.Action("GetDeptByUnit", "Report")';
                $.ajax({
                    type: 'GET',
                    url: Url,
                    dataType: 'json',
                    async: false,
                    data: { unitId: UnitId },
                    success: function (data) {
                        $("#DepartmentId").empty();

                        if ($.isEmptyObject(data)) {
                            alert("No Department found for the selected Unit");
                            $("#DepartmentId").prop("disabled", true);
                        } else {
                            for (index = 0; index < data.length; index++) {
                                if (index == 0)
                                    $("#DepartmentId").append("<option value='" + data[index].value + "' selected=\"selected\">" + data[index].Text + "</option>");
                                else
                                    $("#DepartmentId").append("<option value='" + data[index].value + "'>" + data[index].Text + "</option>");
                            }
                            $("#DepartmentId").prop("disabled", false);
                            //$.each(data, function(index, item) {
                            //    $("#DepartmentId").append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                            //});
                        }
                    }
                });
            } else {
                $("#DepartmentId").empty();
                $("#DepartmentId").prop("disabled", true);
            }
        }
    </script>
}
