﻿@using Inventory.Domain;
@model Inventory.WebUI.UpdateUserViewModel

@{
    ViewBag.Title = "Create User";
}

<h2>Create User</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmailAddress, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new
   {
       @class = "col-md-2 control-label"
   })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new
               {
                   @class = "control-label col-md-2"
               })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new
               {
                   @class = "form-control"
               })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new
           {
               @class = "control-label col-md-2"
           })
            <div class="col-md-10">
                @Html.DropDownList("RoleId", null, "-- Select Role --", new
               {
                   @class = "form-control"
               })

                @*@(Html.Kendo().ComboBox()
                      .HtmlAttributes(new { style = "width:280px" })  
                      .Name("RoleId")                          // This Should be the Property name
                      .DataTextField("RoleName")               // Display Value Of The binded View Model
                      .DataValueField("RoleId")                // internal Value Of The binded View Model
                      .Placeholder("Select Role...")
                      .BindTo(ViewBag.RoleList as IEnumerable<Inventory.WebUI.RoleViewModel>) // List to bind
                      .Filter("contains")                                // Filter Criteria
                      //.Filter("startswith")
                )*@
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

       
        @*<div class="form-group">
            @Html.LabelFor(model => model.TestDate, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TestDate)
                @Html.ValidationMessageFor(model => model.TestDate)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
