﻿@model Inventory.Domain.User

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
   
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsApproved) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLockedOut) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLockedOut)
        </dd>*@

         @if(Model.Roles.Count > 0)
         {
            <dt>
                Role :
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roles.ToList()[0].RoleName)
            </dd>     
         }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
