﻿@using Inventory.Domain;
@using System.Collections.Generic;
@model Inventory.WebUI.UpdateUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UserName, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmailAddress, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new
   {
       @class = "col-md-2 control-label"
   })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FirstName, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LastName, new
       {
           @class = "form-control"
       })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @*@Html.DropDownList("RoleId", string.Empty)*@
                @Html.DropDownList("RoleId", null, "--Select--", new { @class = "form-control"})
                @*<select class="input-validation-error form-control" id="RoleId" name="RoleId">
                    <option value="" selected="selected">--Select--</option>
                    @foreach(Role item in ViewBag.RoleList)
                    {
                        if(item.RoleId != Model.RoleId)
                        {
                            <option value= "@item.RoleId">@item.RoleName</option>
                        }
                        else
                        {
                            <option value="@item.RoleId" selected="selected">@item.RoleName</option>
                        }

                    }
                </select>*@
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-10">*@
                @*@(Html.Kendo()
                   .AutoComplete()
                   .Name("Countries")
                .Filter("startswith")
      .Placeholder("Select country...")
      .BindTo(new string[] {
                "Albania",
                "Andorra",
                "Armenia",
                "Austria",
                "Azerbaijan",
                "Belarus",
                "Belgium",
                "Bosnia & Herzegovina",
                "Bulgaria",
                "Croatia",
                "Cyprus",
                "Czech Republic",
                "Denmark",
                "Estonia",
                "Finland",
                "France",
                "Georgia",
                "Germany",
                "Greece",
                "Hungary",
                "Iceland",
                "Ireland",
                "Italy",
                "Kosovo",
                "Latvia",
                "Liechtenstein",
                "Lithuania",
                "Luxembourg",
                "Macedonia",
                "Malta",
                "Moldova",
                "Monaco",
                "Montenegro",
                "Netherlands",
                "Norway",
                "Poland",
                "Portugal",
                "Romania",
                "Russia",
                "San Marino",
                "Serbia",
                "Slovakia",
                "Slovenia",
                "Spain",
                "Sweden",
                "Switzerland",
                "Turkey",
                "Ukraine",
                "United Kingdom",
                "Vatican City"
          })
                )*@

               @* @Html.Partial("_RoleAutoComplete", ViewBag.RoleList as IEnumerable<Inventory.WebUI.RoleViewModel>)*@
                
                @*@(Html.Kendo().AutoComplete()
                    .Name("roleIds") //The name of the autocomplete is mandatory. It specifies the "id" attribute of the widget.
                    .DataTextField("RoleName") //Specifies which property of the Product to be used by the autocomplete.
                    .BindTo(ViewBag.RoleList as IEnumerable<Inventory.WebUI.RoleViewModel>)   //Pass the list of Products to the autocomplete.
                    .Filter("contains") //Define the type of the filter, which autocomplete will use.
                 )*@

                
                @*@(Html.Kendo().AutoComplete()
                      .Name("RoleIds")
                      .DataTextField("RoleName")
                     .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetRoles", "UserManage"); //Set the Action and Controller name
                                });
                            })
                    .Filter("startswith")
                )*@
            @*</div>*@

        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}