﻿@model IEnumerable<Inventory.Domain.User>

@{
    ViewBag.Title = "User List";
}

<h2>User List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Role
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if(item.Roles.Count() > 0)
            {
                @Html.DisplayFor(modelItem => item.Roles.ToList()[0].RoleName)
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>

<div><a href="@Url.Action("Report",new { id= "PDF" })" target="_blank">Get Report PDF</a></div>
<div><a href="@Url.Action("Report",new { id= "Excel" } )" target="_blank">Get Report Excel</a></div>
<div><a href="@Url.Action("Report",new { id= "Word" })" target="_blank">Get Report Word</a></div>
<div><a href="@Url.Action("Report",new { id= "Image" })" target="_blank">Get Report Image</a></div>