﻿@using Inventory.Domain
@model Inventory.WebUI.DirectPurchaseReceiveViewModel

@{
    ViewBag.Title = "Receive Stock";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Receive Stock</h2>
        <hr />

        @Html.ValidationSummary(true)

        <div class="row clearfix">
           <div class="col-md-5 column">
                <div class="form-group">
                    <label for="PurchaseNo" class="col-sm-2 control-label">Receipt No</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.PurchaseNo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PurchaseNo)
                    </div>
                </div>

                <div class="form-group">
                    <label for="SupplierId" class="col-sm-2 control-label">Supplier</label>
                    <div class="col-md-10">
                        @Html.DropDownList("SupplierId", ViewBag.Suppliers as SelectList, "--Select--", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.SupplierId)
                    </div>
                </div>

               <div class="form-group">
                   <label for="ReceiveDate" class="col-md-2 control-label">Receive Date</label>
                   <div class="col-md-10">
                       @Html.EditorFor(model => model.ReceiveDate)
                       @Html.ValidationMessageFor(model => model.ReceiveDate)

                   </div>
                   
               </div>
               <div class="form-group">
                   <label for="ReceivedStockType" class="col-md-2 control-label">Receive as</label>
                   <div class="col-md-10">
                       @Html.DropDownList("ReceivedStockType", new SelectList(Enum.GetValues(typeof(ReceivedStockTypeEnum))), "---Select---", new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.ReceivedStockType)

                   </div>
                   
               </div>

               <div class="form-group">
                   <label for="Remarks" class="col-sm-2 control-label">Remarks</label>
                   <div class="col-md-10">
                       @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                       @Html.ValidationMessageFor(model => model.Remarks)
                   </div>
               </div>
            </div>
           <div class="col-md-5 column">
               
                <div class="form-group">
                    <label for="ItemId" class="col-md-2 control-label">Item</label>
                    <div class="col-md-10">
                        @(Html.Kendo().ComboBox()
                          .HtmlAttributes(new { style = "width:280px;" })
                          .Name("ItemId")                          // This Should be the Property name
                          .DataTextField("ItemName")               // Display Value Of The binded View Model
                          .DataValueField("ItemId")                // internal Value Of The binded View Model
                          .Placeholder("Select an Item...")
                          .BindTo(ViewBag.Items as IEnumerable<Inventory.WebUI.ItemComboViewModel>) // List to bind
                          .Filter("contains")                                // Filter Criteria
                        //.Filter("startswith")
                        )
                      </div>
                    </div>
                <div class="form-group">
                    <label for="UnitOfMeasureId" class="col-md-2 control-label">Unit Of Measure</label>
                    <div class="col-md-10">

                        <select class="form-control" id="UnitOfMeasureId" name="UnitOfMeasureId">
                            @*<option value="" selected="selected">--Select--</option>*@
                        </select>

                    </div>

                    
                </div>
                <div class="form-group">
                    <label for="ItemQty" class="col-md-2 control-label">Quantity</label>
                    <div class="col-md-10">
                        <input type="number" id="ItemQty" min="0" class="form-control" />
                    </div>
                    
                </div>

                <div class="form-group">
                    <ul class="col-md-offset-2 col-md-10" id="item-Validator" style="color:red">

                    </ul>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="add-item" value="Add" class="btn btn-default" />
                    </div>
                </div>
                <table  class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Item
                            </th>
                            <th align="right">
                                Quantity
                            </th>
                            <th align="right">
                                Amount
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="items-table-body">
                        @foreach (var item in ViewBag.PurchaseReceiveItems as List<Inventory.Domain.PurchaseReceiveItem>)
                        {
                            <tr>
                                <td> @item.index </td>
                                <td> @item.ItemName </td>
                                <td align="right"> @item.ItemQty @item.UnitName </td>
                                <td align="right"> @item.Price </td>
                                <td><button type="button" class="btn btn-xs btn-danger" onclick="DeleteItem(@item.index)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                       
                        @*<tr>
                            <td align="right">1</td>
                            <td>TestItem</td>
                            <td>Kg</td>
                            <td>3.0</td>
                            <td><a href="#" id="bdl1" class="btn btn-link btn-sm" type="button" onclick="deleteItem(1)">Delete</a></td>
                        </tr>*@
                    
                </table>
            </div>
            <div class="col-md-2 column">
                <table id="Header" class="table-striped">
                    <tr>
                        <th>             </th>
                        <th>Price</th>
                        <th>Stock Quantity</th>
                    </tr>
                </table>
                <table id="InsertStock" class="table"></table>
            </div>

        </div>

        <hr />
        

        <div>
            <input type="submit" value="Create" class="btn btn-primary" />    
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Back to List", "DirectPurchase")
</div>

<script type="text/javascript">

    $(function () {
        var selectedItemId = "";

        //$("body").on("load",function(){
        //    console.log("reached OnLoad");
        //});
        $("#UnitOfMeasureId").prop("disabled", true);
        $("#ItemId").change(function () {
            try {
                var itemCB = $("#ItemId").data("kendoComboBox");
                selectedItemId = itemCB.dataItem(itemCB.select()).ItemId;

                if (selectedItemId != "") {
                    //alert(itemCB.dataItem(itemCB.select()).ItemId);
                    var options = {};
                    options.url = '@Url.Action("GetItemWiseUnits", "UnitOfMeasure")';
                    options.type = "POST";
                    options.data = JSON.stringify({ ItemId: selectedItemId });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (uOMs) {
                        $("#UnitOfMeasureId").empty();
                        for (var i = 0; i < uOMs.length; i++) {
                            if(i==0)
                                $("#UnitOfMeasureId").append("<option value=\"" + uOMs[i].Id + "\" selected=\"selected\">" + uOMs[i].Name + "</option>");
                            else
                                $("#UnitOfMeasureId").append("<option value=\"" + uOMs[i].Id + "\">" + uOMs[i].Name + "</option>");
                        }
                        $("#UnitOfMeasureId").prop("disabled", false);
                    };
                    options.error = function () { alert("Error retrieving Unit Of Measures!");
                    };
                    $.ajax(options);
                }
                else {
                    $("#UnitOfMeasureId").empty();
                    $("#UnitOfMeasureId").prop("disabled", true);
                }
            }
            catch (err) {
                selectedItemId = "";
                $("#UnitOfMeasureId").empty();
                $("#UnitOfMeasureId").prop("disabled", true);
            }
        });

         //Get Stock----------------------------------------------------
       $("#ItemId").change(function () {
            try {
                var itemCB = $("#ItemId").data("kendoComboBox");
                selectedItemId = itemCB.dataItem(itemCB.select()).ItemId;

                if (selectedItemId != "") {
                    //alert(itemCB.dataItem(itemCB.select()).ItemId);
                    var options = {};
                    options.url = '@Url.Action("GetItemWiseStocks", "ProductDistribution")';//"/UnitOfMeasure/GetItemWiseUnits";
                    options.type = "POST";
                    options.data = JSON.stringify({ ItemId: selectedItemId });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (sStocks) {
                        $("#InsertStock").empty();
                        for (var i = 0; i < sStocks.length; i++) {
                            var UOM="";
                            if (sStocks[i].IsPriceInLargerUnit) {
                                UOM = sStocks[i].LargerUnit.Name;
                            }
                            else {
                                UOM = sStocks[i].SmallerUnit.Name;
                            }
                            $("#InsertStock").append("<tr><td><input type='radio' id='rdoStock' name='SelectedStock' value=" + sStocks[i].Id + "></td> <td>" + sStocks[i].UnitPrice+"Tk"+ UOM+"</td><td>" + sStocks[i].StockQty + sStocks[i].SmallerUnit.Name+"</td>");//UnitPrice
                           // $("#InsertStock").html("<tr><td><input type='radio' value=" + sStocks[i].Id + "/></td> <td>" + sStocks[i].UnitPrice +"Tk" +"</td><td>" + sStocks[i].StockQty + "</td>");//UnitPrice
                        }
                       // $("#UnitOfMeasureId").prop("disabled", false);
                    };
                    options.error = function () {
                        alert("Error retrieving Price!");
                    };
                    $.ajax(options);
                }
                else {
                   // $("#UnitOfMeasureId").empty();
                   // $("#UnitOfMeasureId").prop("disabled", true);
                }
            }
            catch (err) {
                selectedItemId = "";
                $("#UnitOfMeasureId").empty();
                $("#UnitOfMeasureId").prop("disabled", true);
            }
        });
        //Get Stock.......................................


        $('#add-item').on('click', function () {

            var selectedQuantity = $("#ItemQty").val().trim();
            if (ValidateItem(selectedItemId,selectedQuantity)) {
                var selectedUOMId = $("#UnitOfMeasureId").val().trim();

                var options = {};
                options.url = '@Url.Action("AddPurchaseReceiveItem", "PurchaseReceive")'; //"/PurchaseReceive/AddPurchaseReceiveItem";
                options.type = "POST";
                options.data = JSON.stringify({ ItemId: selectedItemId, StockID: $("#rdoStock:checked").val(), uomId: selectedUOMId, qty: selectedQuantity, supId: $("#SupplierId").val().trim() });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (ItemModel) {
                    AddItem(ItemModel);

                };
                options.error = function () {
                    alert("Error adding Item to cart!");
                };
                $.ajax(options);
                //jQuery.get('/Building/AddRoom').done(function (html) {
                //    $('#rooms-list').append(html);
                //});
            }

        });

        function ValidateItem(selectedItemId, selectedQuantity) {

            $("#item-Validator").empty();
            var isValid = true;
            if (selectedItemId == "") {
                console.log("reached here");
                $("#item-Validator").append("<li>Please select an Item before Adding </li>");
                isValid = false;
            }
            if ($("#rdoStock:checked").val()==null) {
                $("#item-Validator").append("<li>Please select a Price before Adding </li>");
                isValid = false;
            }
            if (selectedQuantity != "") {
                if (selectedQuantity != "0") {
                    if (isNaN(selectedQuantity)) {
                        $("#item-Validator").append("<li>Quantity must be a number</li>");
                        isValid = false;
                    }
                } else {
                    $("#item-Validator").append("<li>Quantity must be greater than zero</li>");
                    isValid = false;
                }
            } else {
                $("#item-Validator").append("<li>Please Add a Quantity </li>");
                isValid = false;
            }

            return isValid;
        }





    });

    function AddItem(ItemModel) {
        console.log("Reached Add");
        $("#items-table-body").append("<tr>" +
                                        "<td>" + ItemModel.index + "</td>" +
                                        "<td>" + ItemModel.ItemName + "</td>" +
                                        "<td align=\"right\">" + ItemModel.ItemQty + "</td>" +
                                        "<td align=\"right\">" + ItemModel.Price + "</td>" +
                                        "<td>" + "<button type=\"button\" class=\"btn btn-xs btn-danger\" onclick=\"DeleteItem(" + ItemModel.index + ")\">Delete</button>" + "</td>" +
                                +"</tr>");
    }

    function DeleteItem(Index) {
        console.log("Reached Delete");
        var options = {};
        options.url = '@Url.Action("DeletePurchaseReceiveItem", "PurchaseReceive")';
        options.type = "POST";
        options.data = JSON.stringify({ Index: Index });
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (ItemModels) {
            console.log("Reached Return");
            $("#items-table-body").empty();
            for (var i = 0; i < ItemModels.length; i++) {
                console.log();
                AddItem(ItemModels[i]);
            }
        };
        options.error = function () {
            alert("Error deleting Item from cart!");
        };
        $.ajax(options);
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
