﻿@model Inventory.Domain.PurchaseReceive

@{
    ViewBag.Title = "Details Received Stock";
}



<div>
    <h2>Details of Received Stock</h2>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseNo) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>
        
        <dt>
            Received as :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedStockType)
        </dd>

    </dl>
    <br />

    <div class="row clearfix">
        <h4>Items List:</h4>
        <br />
        <div class="col-md-6 column">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Item
                        </th>
                        <th align="right">
                            Quantity
                        </th>
                        <th>
                            Messuring Unit
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="items-table-body">
                    @foreach (var item in ViewBag.PurchaseReceiveItems as List<Inventory.Domain.PurchaseReceiveItem>)
                    {
                        <tr>
                            <td> @item.index </td>
                            <td> @item.ItemName </td>
                            <td align="right"> @item.ItemQty </td>
                            <td> @item.UnitName </td>
                        </tr>
                    }
                </tbody>

            </table>
            <hr />
        </div>
        <div class="col-md-6 column">
            
            
        </div>

    </div>

</div>
<br />
<p>
    @Html.ActionLink("Edit", "UpdateDirectPurchase", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "DirectPurchase")
</p>
