﻿@using Inventory.Domain
@using Inventory.WebUI
@model IEnumerable<Inventory.Domain.PurchaseReceive>

@{
    ViewBag.Title = "Stock Receive";
    List<PurchaseReceive> oReceivedStocks = ViewBag.ReceivedStocks;
}

<h2>Stock Receive</h2>

<p>
    @Html.ActionLink("Create New", "CreateDirectPurchase")
</p>
<div>
    @using (Ajax.BeginForm("FilterDirectPurchases", "PurchaseReceive", new AjaxOptions()
                {
                    UpdateTargetId = "purchaseView",
                    HttpMethod = "Get",
                    OnSuccess = "onSuccess"
                }))
    {
        <div>
            @{Html.RenderPartial("_DateTimeFilteringPartial", new DateTimeViewModel());}
        </div>
        <table>
            <tr>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label id="lblReceivedStock" for="ReceivedStockType" class="col-md-2 control-label">Received as</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.DropDownList("ReceivedStockType", new SelectList(Enum.GetValues(typeof(ReceivedStockTypeEnum)).Cast<ReceivedStockTypeEnum>().Select(x => new SelectListItem() { Text = x.ToString(), Value = ((int)x).ToString() }), "Value", "Text"), "---Show All---", new
                                            {
                                                @class = "form-control",
                                                @id = "receivedStockType"
                                            })
                                        </div>
                                    </div>
                                </td>
                                <td><input id="btnSubmit" type="submit" value="Search" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    }

</div>

<br />
<table></table>
<br />
    @*@Html.Partial("PurchaseReceiveGridPartial", oReceivedStocks)*@
    @*@Html.EditorFor("EditorTemplates/PurchaseReceive", oReceivedStocks)*@
    @using (Ajax.BeginForm("Report", "PurchaseReceive", new AjaxOptions(){}))
    {
        @*<input id="btnPrintReport" type="submit" value="Print Report" />*@
        <div><a id="lnkReport" class="btn btn-primary" href="~/PurchaseReceive/Report/" target="_blank">Print Report</a></div>
        <div id="purchaseView">
            @*@Html.EditorForModel()*@
            @Html.Partial("PurchaseReceiveGridPartial", oReceivedStocks)

        </div>
    }<style>
    #receivedStockType {
        width: auto;
    }

    #lblReceivedStock {
        width: auto;
    }
</style>

@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        var checkedids = [];
        var lnk = $('#lnkReport');
        var lnkbaseUrl = lnk.attr('href');
        console.log('Here');

        CheckedChanged = function (element) {
            console.log('Here');
            var $this = $(element);
            console.log($this);
            var id = $this.data('id');
            console.log(id);
            if ($this.prop("checked")) {
                console.log(id);
                AddID(id);
            } else {
                console.log('unchecked:' + id);
                RemoveID(id);
            }

        }

        AddID = function (id) {

            checkedids.push(id);
            UpdateLink();
        }

        RemoveID = function (id) {
            var index = checkedids.indexOf(id);
            if (index > -1) {
                checkedids.splice(index, 1);
            }
            UpdateLink();
        }

        UpdateLink = function () {
            var lnkHref = lnkbaseUrl;
            $.each(checkedids, function (index, value) {
                lnkHref += value + ',';
            });

            lnk.attr("href", lnkHref);
        }

         @*$('#receivedStockType').change(function (e) {
             //debugger;
             e.preventDefault();
             var url = '@Url.Action("FilterDirectPurchases")';
             $.get(url, { receivedStockType: $(this).val() }, function (result) {
                 //debugger;
                 $('#purchaseView').html(result);
             });
         });*@

         @*$("#btnSubmit").on('click', function (e) {
             debugger;
             e.preventDefault();
             var url = '@Url.Action("FilterDirectPurchases")';
             $.get(url, {
                 receivedStockType: $('#receivedStockType').val(),
                 fromDate: $('dtpFromDate').val(),
                 toDate: $('dtpToDate').val()
             }, function (result) {
                 //debugger;
                 $('#purchaseView').html(result);
             });
         });*@


        function onSuccess(result) {
            //debugger;
            $('#purchaseView').html(result);
        };
    </script>
}




