﻿@model IList<Inventory.Domain.PurchaseReceive>
@*@using (Html.BeginForm("Report", "PurchaseReceive",FormMethod.Post))*@

<table class="table" style="border-color: black">

    <tr style="background: lightgray;">
        <th>
            <span class="hdrTexts">Select for Print</span>
        </th>
        <th>
            <span class="hdrTexts">Receipt No</span>
        </th>
        <th>
            <span class="hdrTexts">Supplier</span>
        </th>
        <th>
            <span class="hdrTexts">Receipt Date</span>
        </th>
        <th>
            <span class="hdrTexts">Total Amount(TK)</span>
        </th>
        <th>
            <span class="hdrTexts">Remarks</span>
        </th>
        <th id="thItems" class="hdrTexts">
            <span>Items</span>
            <table>
                <tr style="background: darkgray">
                    <th>
                        Name
                    </th>
                    <th class="col-UOM">
                        Qty
                    </th>
                    @*<th class="col-UOM">
                            Unit Of Measure
                        </th>*@
                    <th>
                        Price
                    </th>
                </tr>
            </table>
        </th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            @Html.HiddenFor(modelItem => modelItem[i].Id)

            <td class="tdItems">
                <input data-id="@Model[i].Id" onchange="CheckedChanged(this)" type="checkbox" value="true">
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => modelItem[i].PurchaseNo)
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => modelItem[i].Supplier.Name)
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => modelItem[i].ReceiveDate)
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => modelItem[i].TotalAmount)
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => modelItem[i].Remarks)
            </td>
            <td>
                @*<table>
                        @{
                            foreach (var childItem in item.PurchaseReceiveItems)
                            {
                                <tr>
                                    <td class ="tdDataItems">
                                        @Html.DisplayFor(x => childItem.Stock.Item.Name)
                                    </td>
                                    <td class="tdDataItems">
                                        @childItem.ItemQty @childItem.UnitOfMeasure.Name
                                    </td>
                                    <td class="tdDataItems">
                                        @Html.DisplayFor(x => childItem.UnitPrice)
                                    </td>
                                </tr>
                                //@:  @childItem.ItemName @childItem.ItemQty @childItem.Price
                            }
                        }
                    </table>*@
                @Html.EditorFor(modelItem => modelItem[i].PurchaseReceiveItems)
            </td>
            <td class="tdItems">
                @Html.ActionLink("Edit", "UpdateDirectPurchase", new { id = Model[i].Id }) |
                @Html.ActionLink("Details", "DetailsDirectPurchase", new { id = Model[i].Id }) |
                @Html.ActionLink("Delete", "DeleteDirectPurchase", new { id = Model[i].Id })
            </td>
        </tr>
    }
</table>

<style>
    #thItems {
        width: 290px;
        text-align: center;
    }

    .tdItems {
        display: table-cell;
        top: 50%;
        position: relative;
        vertical-align: middle;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }

    .tdDataItems {
        width: 17%;
    }

    .col-UOM {
        width: 150px;
        text-align: center;
    }

    .hdrTexts {
        vertical-align: middle;
    }
</style>

