﻿@model Inventory.Domain.ProductDistribution

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductDistribution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Department
                </th>
                <th>
                    Item
                </th>
                <th align="right">
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="items-table-body">
            @foreach (var item in ViewBag.ProductDistributionItems as List<Inventory.Domain.ProductDistributionItem>)
            {
                <tr>
                    <td> @item.index </td>
                    <td> @item.UnitName </td>
                    <td> @item.DeptName </td>
                    <td> @item.ItemName </td>
                    <td align="right"> @item.Quantity @item.UnitMessureName </td>
                    @*<td><button type="button" class="btn btn-xs btn-danger" onclick="DeleteItem(@item.index)">Delete</button></td>*@
                </tr>
            }
        </tbody>

        @*<tr>
                <td align="right">1</td>
                <td>TestItem</td>
                <td>Kg</td>
                <td>3.0</td>
                <td><a href="#" id="bdl1" class="btn btn-link btn-sm" type="button" onclick="deleteItem(1)">Delete</a></td>
            </tr>*@

    </table>



    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
