﻿    @using Inventory.Domain
@using Inventory.WebUI
@model IEnumerable<Inventory.Domain.ProductDistribution>

@{
    ViewBag.Title = "Product Distribution";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Ajax.BeginForm("Index", "ProductDistribution", new AjaxOptions()
    {
        UpdateTargetId = "distView",
        HttpMethod = "Get"
    }))
    {
        <div>
            @{Html.RenderPartial("_DateTimeFilteringPartial", new DateTimeViewModel());}
        </div><input id="btnSubmit" type="submit" value="Search" />
    }
</div>
<div class="clearfix visible-xs"></div>
<table id="distView" class="table">
    <tr style="background: lightgray;">
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            Total Amount(TK)
        </th>
        <th id="thItems">
            Items
            <table>
                <tr style="background: darkgray">
                    <th class="col-thItemUnit">
                        Unit
                    </th>
                    <th class ="col-thItems">
                        Department
                    </th>
                    <th class="col-thItems">
                        Name
                    </th>
                    <th class="col-thItems">
                        Qty
                    </th>
                    @*<th class ="col-thItems" >
                        Unit Of Measure
                    </th>*@
                </tr>
            </table>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => item.InvoiceNo)
            </td>
            <td class="tdItems">
                @Html.DisplayFor(modelItem => item.TranDate)
            </td>
            <td class="tdItemsRemarks">
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td class="tdItemsRemarks">
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <table>
                    @{
                        foreach (var childItem in item.ProductDistributionItems)
                        {
                            <tr>
                                <td class="tdDataItems">
                                    @Html.DisplayFor(x => childItem.Unit.Name)
                                </td>
                                <td class="tdDataItems">
                                    @Html.DisplayFor(x => childItem.Department.Name)
                                </td>
                                <td class="tdDataItems">
                                    @Html.DisplayFor(x => childItem.Item.Name)
                                </td>
                                <td class="tdDataItems">
                                    @*@Html.DisplayFor(x => childItem.Quantity)*@
                                    @childItem.Quantity @childItem.UnitOfMeasure.Name
                                </td>
                                @*<td class="tdDataItems">
                                    @Html.DisplayFor(x => childItem.UnitOfMeasure.Name)
                                </td>*@
                            </tr>
                            //@:  @childItem.ItemName @childItem.ItemQty @childItem.Price
                        }
                    }
                </table>

            </td>

            <td class="tdItems">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<style>
    #thItems {
        text-align: center;
    }

    .col-thItemUnit {
        width: 120px;
        text-align: left;
    }
    .tdItemsRemarks {
        width: 200px;
        display: table-cell;
        top: 50%;
        position: relative;
        vertical-align: middle;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    } 
    .tdItems {
        display: table-cell;
        top: 50%;
        position: relative;
        vertical-align: middle;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }
    .col-thItems {
        width: 120px;
        text-align: left;
    }
    .tdDataItems {
        width: 120px;
    }
</style>
@*<div><a href="@Url.Action("Report",new { id= "PDF" })" target="_blank">Get Report PDF</a></div>
    <div><a href="@Url.Action("Report",new { id= "Excel" } )" target="_blank">Get Report Excel</a></div>
    <div><a href="@Url.Action("Report",new { id= "Word" })" target="_blank">Get Report Word</a></div>
    <div><a href="@Url.Action("Report",new { id= "Image" })" target="_blank">Get Report Image</a></div>*@
