﻿@model Inventory.Domain.PurchaseReceiveItem
<table>
    <tr>
        <td class="tdDataItems">
            @Html.DisplayFor(x => Model.Stock.Item.Name)
        </td>
        <td class="tdDataItems">
            @Model.ItemQty @Model.UnitOfMeasure.Name
        </td>
        <td class="tdDataItems">
            @Html.DisplayFor(x => Model.UnitPrice)
        </td>
    </tr>
</table>



