﻿@model Inventory.Domain.UnitOfMeasure

@{
    ViewBag.Title = "Delete Unit Of Measure";
}

<h2>Delete Unit Of Measure</h2>

<h3>Are you sure you want to delete this Unit Of Measure?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
