﻿@model Inventory.Domain.Department

@{
    ViewBag.Title = "Create Department";
}

<h2>Create Department</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UnitId, "Unit", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UnitId", null, "-- Select Unit --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitId)
            </div>
        </div>*@
        
        <div class="form-group">
            @Html.LabelFor(model => model.Units, new { @class = "control-label col-md-2" })
            <div style="padding-top: 7px" class="col-md-10">
                <table>
                    <tr>
                    @{
                        int cnt = 0;
                        List<Inventory.ViewModels.AssignedUnitViewModel> units = ViewBag.Units;

                        foreach (var unit in units)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                            }
                            @:<td style="padding-right: 15px">
                            <input type="checkbox"
                                   name="selectedUnits"
                                   value="@unit.UnitID"
                                @(Html.Raw(unit.Assigned ? "checked=\"checked\"" : "")) />
                            @unit.UnitID @:  @unit.Name
                                        
                            @:</td>
                        }
                        @:</tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
