﻿@model Inventory.Domain.Department

@{
    ViewBag.Title = "Delete Department";
}

<h2>Delete Department</h2>

<h3>Are you sure you want to delete this Department ?</h3>
<div>
    <hr />
    @Html.ValidationSummary(true)
    <dl class="dl-horizontal">
        <dt>
            Unit Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>

        <dt>
            Code :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
