﻿@model Inventory.Domain.Department

@{
    ViewBag.Title = "Department Details";
}

<h2>Department Details</h2>

<div>
	<hr />
    @Html.ValidationSummary(true)
    <dl class="dl-horizontal">
        <dt>
            Unit Name :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit.Name) 
        </dd>
        <dt>
            Code :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            Name :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name) 
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
