﻿@model System.Collections.Generic.IEnumerable<Inventory.Domain.Department>

@{
    ViewBag.Title = "Department List";
}

<h2>Department List</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>

@Html.ValidationSummary(true)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
                Unit @Html.DisplayNameFor(model => model.Unit.Code)
            </th>*@
        <th>
            Units
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>*@
            <td>
                @{
                    foreach (var unit in item.Units)
                    {
                        @unit.Id @:  @unit.Name <br />
                    }
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
