﻿@model Inventory.Domain.Item

@{
    ViewBag.Title = "Create Item";
}

<h2>Create Item</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @ViewBag.Message
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = true })
                @*@Html.ValidationMessageFor(model => model.Code)*@
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>*@

        <div class="form-group">
            <label for="ItemId" class="col-md-2 control-label">Item</label>
            <div class="col-md-10">
                @(Html.Kendo().ComboBox()
                          .HtmlAttributes(new { style = "width:280px;" })
                          .Name("Name")
                          .DataTextField("ItemName")               // Display Value Of The binded View Model
                          .Placeholder("Enter Name...")
                          .BindTo(ViewBag.Items as IEnumerable<Inventory.WebUI.ItemComboViewModel>) // List to bind
                          .Filter("contains")  
                )
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ItemType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemType", null, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemType)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ItemCategoryId, "Item Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemCategoryId", null, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBoxFor(model => model.IsPriceInLargerUnit)
                @Html.ValidationMessageFor(model => model.IsPriceInLargerUnit)
                Price In Larger Unit
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceChangeDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PriceChangeDate)
                    @Html.ValidationMessageFor(model => model.PriceChangeDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SmallerUnitId, "Smaller Unit", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SmallerUnitId", null, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SmallerUnitId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LargerUnitId, "Larger Unit", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LargerUnitId", null, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LargerUnitId)
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.ConversionFactor, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ConversionFactor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConversionFactor)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
