﻿@model Inventory.Domain.Item

@{
    ViewBag.Title = "Delete Item";
}

<h2>Delete Item</h2>

<h3>Are you sure you want to delete this Item?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.ValidationSummary(true)
        <dt>
            @Html.DisplayNameFor(model => model.Code) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

        <dt>
            Item Category :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory.Name)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceChangeDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceChangeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallerUnitId) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallerUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargerUnitId) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargerUnit.Name)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.ConversionFactor) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionFactor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
