﻿@model Inventory.Domain.Item

@{
    ViewBag.Title = "Item Details";
}

<h2>Item Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Code) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>

        <dt>
           Item Category :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory.Name)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceChangeDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceChangeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallerUnitId) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallerUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargerUnitId) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargerUnit.Name)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.ConversionFactor) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConversionFactor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
