﻿@model Inventory.Domain.Item

@{
    ViewBag.Title = "Update Item";
}

<h2>Update Item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = true })
                @*@Html.ValidationMessageFor(model => model.Code)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemType", null, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemType)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ItemCategoryId, "Item Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemCategoryId", null, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBoxFor(model => model.IsPriceInLargerUnit)
                @Html.ValidationMessageFor(model => model.IsPriceInLargerUnit)
                Price In Larger Unit
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBox("KeepPrevStock", new { value = Model.KeepPrevStock, @checked = true });
                @*@Html.CheckBoxFor(model => model.KeepPrevStock)*@
                @Html.ValidationMessageFor(model => model.KeepPrevStock)
                Keep Previous Prices
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PriceChangeDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceChangeDate)
                @Html.ValidationMessageFor(model => model.PriceChangeDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SmallerUnitId, "Smaller Unit", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SmallerUnitId", null, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SmallerUnitId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LargerUnitId, "Larger Unit", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LargerUnitId", null, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LargerUnitId)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.ConversionFactor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ConversionFactor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConversionFactor)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
