﻿@model IEnumerable<Inventory.Domain.Item>

@{
    ViewBag.Title = "Items List";
}

<h2>Items List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Item", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ItemType)
        </th>

        <th>
            Item Category
        </th>
        <th>
            Larger Unit
        </th>
        <th>
            Smaller Unit
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConversionFactor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemType)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ItemCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LargerUnit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallerUnit.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceChangeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversionFactor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
