﻿@model Inventory.WebUI.LoginViewModel

@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>@ViewBag.Title.</h2>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)

                </div>
                <div class="form-group">
                    @*<div class="col-md-offset-2 col-md-10">*@
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-default active" />
                </div>

            }
        </section>
    </div>
    <div class="col-md-4 column">
    </div>
</div>

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}