﻿@model Inventory.Domain.Supplier

@{
    ViewBag.Title = "Delete Supplier";
}

<h2>Delete Supplier</h2>

<h3>Are you sure you want to delete this Supplier?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Address :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Mobile No :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
