﻿@model Inventory.Domain.Supplier

@{
    ViewBag.Title = "Supplier Details";
}

<h2>Supplier Details</h2>

<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Address :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Mobile No :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
