﻿@model Inventory.Domain.PurchaseOrder

@{
    ViewBag.Title = "Delete Purchase Order";
}

<h2>Delete Purchase Order</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderCode) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt style="visibility: @(Model.IsReceived?"visible":"hidden")">
            @Html.DisplayNameFor(model => model.ReceivedDate) :
        </dt>

        <dd style="visibility: @(Model.IsReceived?"visible":"hidden")">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
    </dl>
    <br />

    <div class="row clearfix">
        <h4>Item List:</h4>
        <br />
        <div class="col-md-6 column">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Supplier
                        </th>
                        <th>
                            Item
                        </th>
                        <th align="right">
                            Quantity
                        </th>
                        <th>
                            Messuring Unit
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="items-table-body">
                    @foreach (var item in Session["PurchaseOrderItemsVM"] as List<Inventory.WebUI.PurchaseOrderItemViewModel>)
                    {
                        <tr>
                            <td> @item.Index </td>
                            <td> @item.SupplierName </td>
                            <td> @item.ItemName </td>
                            <td align="right"> @item.ItemQty </td>
                            <td> @item.UnitName </td>
                        </tr>
                    }
                </tbody>

            </table>
            <hr />
        </div>
        <div class="col-md-6 column">
            
            
        </div>

    </div>

    <hr />

@using (Html.BeginForm("Delete", "PurchaseOrder", null, FormMethod.Post, new {@id = "formDelete"})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" id="btnDelete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index", "PurchaseOrder", null, new { @class= "btn btn-primary"})
        </div>
    }

</div>

@section scripts
{
   <script type="text/javascript" src="@Url.Content("~/Scripts/SweetAlert/sweet-alert.min.js")"></script>
   <link rel="stylesheet" type="text/css" href="~/Scripts/SweetAlert/sweet-alert.css">
}

<script>
    /*$(document).on("click", "#btnDelete", function () {
        if (confirm('Are you sure about deleting this Purchase Order?')) {
            $('#formDelete').submit();
        }
        return false;
    });*/

    $(document).ready(function () {
        $("form#formDelete").submit(function (e) {
            e.preventDefault();
            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#428bca",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                closeOnConfirm: false,
                closeOnCancel: false,
                allowOutsideClick: true
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Deleted!", "Your purchase order will be deleted.", "success");
                    $("form#formDelete").unbind('submit').submit();
                } else {
                    swal("Cancelled", "Your purchase order is not deleted.", "error");
                    return false;
                }
            });
            
        });
    });
</script>
