﻿@model Inventory.Domain.PurchaseOrder

@{
    ViewBag.Title = "Details Purchase Order";
}

<div>
    <h2>Purchase Order Details</h2>
    
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderCode) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt style="visibility: @(Model.IsReceived?"visible":"hidden")">
            @Html.DisplayNameFor(model => model.ReceivedDate) :
        </dt>

        <dd style="visibility: @(Model.IsReceived?"visible":"hidden")">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
    </dl>
    <br />

    <div class="row clearfix">
        <h4>Item List:</h4>
        <br />
        <div class="col-md-6 column">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Supplier
                        </th>
                        <th>
                            Item
                        </th>
                        <th align="right">
                            Quantity
                        </th>
                        <th>
                            Messuring Unit
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="items-table-body">
                    @foreach (var item in Session["PurchaseOrderItemsVM"] as List<Inventory.WebUI.PurchaseOrderItemViewModel>)
                    {
                        <tr>
                            <td> @item.Index </td>
                            <td> @item.SupplierName </td>
                            <td> @item.ItemName </td>
                            <td align="right"> @item.ItemQty </td>
                            <td> @item.UnitName </td>
                        </tr>
                    }
                </tbody>

            </table>
            <hr />
        </div>
        <div class="col-md-6 column">
     
        </div>

    </div>

    <br />

@using (Html.BeginForm())
{
    <div class="row clearfix" style="visibility: @(Model.IsReceived?"hidden":"visible")">
        <div class="col-md-7 column">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.OrderCode)
            @Html.HiddenFor(model => model.OrderDate)
            <div class="form-group">
                <label for="ReceivedDate" class="col-md-3 control-label">Receiving Date :</label>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ReceivedDate)
                    @Html.ValidationMessageFor(model => model.ReceivedDate)
                </div>
                <input type="submit" value="Receive Order" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", "PurchaseOrder", new { id = Model.ID }, new { @class= "btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index", "PurchaseOrder", null, new { @class= "btn btn-primary"})
</p>