﻿@model Inventory.WebUI.PurchaseOrderViewModel

@{
    ViewBag.Title = "Update Purchase Order";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Update Purchase Order</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsReceived)

        <div class="row clearfix">
        
            <div class="col-md-6 column">
                <div class="form-group">
                    <label for="OrderCode">Order Code</label><br />
                    @Html.TextBoxFor(model => model.OrderCode, new { @id = "nOrderCode" })
                    @Html.ValidationMessageFor(model => model.OrderCode)
                </div>

                <div class="form-group">
                    <label for="OrderDate">Order Date</label><br />
                    @Html.EditorFor(model => model.OrderDate, new { @id = "nOrderDate" })
                    @Html.ValidationMessageFor(model => model.OrderDate)
                </div>

                <div class="form-group" style="visibility: @(Model.IsReceived?"visible":"hidden")">
                    <label for="ReceivedDate">Received Date</label><br />
                    @Html.EditorFor(model => model.ReceivedDate, new { @id = "nReceivedDate" })
                    @Html.ValidationMessageFor(model => model.ReceivedDate)
                </div>
            </div>
      
            <div class="col-md-6 column">
                <div class="form-group">
                    <label for="SupplierId">Supplier</label><br />
                    @(Html.Kendo().ComboBox()
                        .HtmlAttributes(new { style = "width:280px" })
                        .Name("SupplierId")                          // This Should be the Property name
                        .DataTextField("SupplierName")               // Display Value Of The binded View Model
                        .DataValueField("SupplierId")                // internal Value Of The binded View Model
                        .Placeholder("Select a Supplier...")
                        .BindTo(Session["Suppliers"] as IEnumerable<Inventory.WebUI.SupplierComboViewModel>) // List to bind
                        .Filter("contains")                                // Filter Criteria
                        //.Filter("startswith")
                    )
                </div>

                <div class="form-group">
                    <label for="ItemId">Item</label><br />
                    @(Html.Kendo().ComboBox()
                        .HtmlAttributes(new { style = "width:280px" })
                        .Name("ItemId")                          // This Should be the Property name
                        .DataTextField("ItemName")               // Display Value Of The binded View Model
                        .DataValueField("ItemId")                // internal Value Of The binded View Model
                        .Placeholder("Select an Item...")
                        .BindTo(Session["Items"] as IEnumerable<Inventory.WebUI.ItemComboViewModel>) // List to bind
                        .Filter("contains")                                // Filter Criteria
                        //.Filter("startswith")
                    )
                </div>

                <div class="form-group">
                    <label for="UnitOfMeasureId">Unit Of Messure</label><br />
                    <select class="form-control" id="UnitOfMeasureId" name="UnitOfMeasureId">
                        @*<option value="" selected="selected">--Select--</option>*@
                    </select>
                </div>
                <div class="form-group">
                    <label for="ItemQty">Quantity</label><br />
                    <input type="number" id="ItemQty" min="0" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="button" id="add-item" value="Add Item" class="btn btn-primary" />
                </div>

                <br />

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Supplier
                            </th>
                            <th>
                                Item
                            </th>
                            <th align="right">
                                Quantity
                            </th>
                            <th>
                                Messuring Unit
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="items-table-body">
                        @foreach (var item in Session["PurchaseOrderItems"] as List<Inventory.WebUI.PurchaseOrderItemViewModel>)
                        {
                            <tr>
                                <td> @item.Index </td>
                                <td> @item.SupplierName </td>
                                <td> @item.ItemName </td>
                                <td align="right"> @item.ItemQty </td>
                                <td> @item.UnitName </td>
                                <td><button type="button" class="btn btn-xs btn-danger" onclick="DeleteItem(@item.Index)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

       </div>
           
        <hr />
        <hr />
        <div>
            <input type="submit" value="Update" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index", "PurchaseOrder", null, new { @class= "btn btn-primary"})
        </div>

      </div>
}


<script type="text/javascript">

    $(function () {
        var selectedItemId = "";
        var selectedSupplierId = "";

        $("#SupplierId").change(function () {
            try {
                var supplierCB = $("#SupplierId").data("kendoComboBox");
                selectedSupplierId = supplierCB.dataItem(supplierCB.select()).SupplierId;
            }
            catch (err) {
                selectedItemId = "";
            }
        });

        $("#UnitOfMeasureId").prop("disabled", true);
        $("#ItemId").change(function () {
            try {
                var itemCB = $("#ItemId").data("kendoComboBox");
                selectedItemId = itemCB.dataItem(itemCB.select()).ItemId;

                if (selectedItemId != "") {
                    var options = {};
                    options.url = '@Url.Action("GetItemWiseUnits", "UnitOfMeasure")';
                    options.type = "POST";
                    options.data = JSON.stringify({ ItemId: selectedItemId });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (uOMs) {
                        $("#UnitOfMeasureId").empty();
                        for (var i = 0; i < uOMs.length; i++) {
                            if (i == 0)
                                $("#UnitOfMeasureId").append("<option value=\"" + uOMs[i].Id + "\" selected=\"selected\">" + uOMs[i].Name + "</option>");
                            else
                                $("#UnitOfMeasureId").append("<option value=\"" + uOMs[i].Id + "\">" + uOMs[i].Name + "</option>");
                        }
                        $("#UnitOfMeasureId").prop("disabled", false);
                    };
                    options.error = function () { alert("Error retrieving Unit Of Messures!"); };
                    $.ajax(options);
                }
                else {
                    $("#UnitOfMeasureId").empty();
                    $("#UnitOfMeasureId").prop("disabled", true);
                }
            }
            catch (err) {
                selectedItemId = "";
                $("#UnitOfMeasureId").empty();
                $("#UnitOfMeasureId").prop("disabled", true);
            }
        });


        $('#add-item').on('click', function () {

            var selectedQuantity = $("#ItemQty").val().trim();
            if (ValidateItem(selectedSupplierId, selectedItemId, selectedQuantity)) {
                var selectedUOMId = $("#UnitOfMeasureId").val().trim();

                console.log("Reached Valid");
                var options = {};
                options.url = '@Url.Action("AddPurchaseOrderItem", "PurchaseOrder")'; //"/PurchaseOrder/AddPurchaseOrderItem";
                options.type = "POST";
                options.data = JSON.stringify({ SupplierId: selectedSupplierId, ItemId: selectedItemId, uomId: selectedUOMId, qty: selectedQuantity });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (ItemModel) {
                    console.log("Reached Return");
                    AddItem(ItemModel);
                };
                options.error = function () {
                    alert("Error adding Item to cart!");
                };
                $.ajax(options);
            }
        });

        $("form").submit(function (e) {
            e.preventDefault();
            var isValid = true;

            if ($('#items-table-body tr').length > 0 && $('#nOrderCode').val() != null && $('#nOrderCode').val() != '') {

                isValid = true;

                swal({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#428bca",
                    confirmButtonText: "Yes, update it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: true,
                    closeOnCancel: true,
                    allowOutsideClick: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        $("form").unbind('submit').submit();
                    }
                });
            }

            var errorMsg = '';
            if ($('#nOrderCode').val() == null || $('#nOrderCode').val() == '') {
                isValid = false;
                errorMsg += '*Please add order code.\n';
            }

            if ($('#items-table-body tr').length <= 0) {
                isValid = false;
                errorMsg += '*Please add order item.';
            }

            if (!isValid) swal({ title: "Insufficient info!", text: errorMsg, timer: 4000, type: "warning", allowOutsideClick: true });
        });

        $("#ItemQty").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                swal({ title: "Improper info!", text: '*Quantity must be a valid number.', timer: 4000, type: "warning", allowOutsideClick: true });
                return false;
            }
        });

        function ValidateItem(selectedSupplierId, selectedItemId, selectedQuantity) {

            var isValid = true;
            var errorMessage = '';

            if (selectedSupplierId == "") {
                errorMessage += 'Please select a supplier.\n';
                isValid = false;
            }
            if (selectedItemId == "") {
                errorMessage += 'Please select an item.\n';
                isValid = false;
            }
            if (selectedQuantity != null && selectedQuantity != "") {
                if (selectedQuantity != "0") {
                    if (isNaN(selectedQuantity)) {
                        errorMessage += 'Quantity must be a number.\n';
                        isValid = false;
                    }
                } else {
                    errorMessage += 'Quantity must be greater than zero.\n';
                    isValid = false;
                }
            } else {
                errorMessage += 'Please add a quantity.\n';
                isValid = false;
            }

            console.log("errorMessage: \n" + errorMessage);
            if (!isValid) swal({ title: "Insufficient info!", text: errorMessage, timer: 4000, type: "warning", allowOutsideClick: true });

            return isValid;
        }
    });

    function AddItem(ItemModel) {
        console.log("Reached AddItem");
        $("#items-table-body").append("<tr>" +
                                        "<td>" + ItemModel.Index + "</td>" +
                                        "<td>" + ItemModel.SupplierName + "</td>" +
                                        "<td>" + ItemModel.ItemName + "</td>" +
                                        "<td align=\"right\">" + ItemModel.ItemQty + "</td>" +
                                        "<td>" + ItemModel.UnitName + "</td>" +
                                        "<td>" + "<button type=\"button\" class=\"btn btn-xs btn-danger\" onclick=\"DeleteItem(" + ItemModel.Index + ")\">Delete</button>" + "</td>" +
                                +"</tr>");
    }

    function DeleteItem(Index) {
        console.log("Reached Delete");
        var options = {};
        options.url = '@Url.Action("DeletePurchaseOrderItem", "PurchaseOrder")';
        options.type = "POST";
        options.data = JSON.stringify({ Index: Index });
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (ItemModels) {
            console.log("Reached Delete");
            $("#items-table-body").empty();
            for (var i = 0; i < ItemModels.length; i++) {
                console.log("Index: " + ItemModels[i].Index + " ItemName: " + ItemModels[i].ItemName)
                AddItem(ItemModels[i]);
            }
        };
        options.error = function () {
            alert("Error deleting Item from cart!");
        };
        $.ajax(options);
    }
</script>

@section scripts
{
   <script type="text/javascript" src="@Url.Content("/Scripts/SweetAlert/sweet-alert.min.js")"></script>
   <link rel="stylesheet" type="text/css" href="/Scripts/SweetAlert/sweet-alert.css">
}