﻿@model IEnumerable<Inventory.Domain.PurchaseOrder>

@{
    ViewBag.Title = "Purchase Orders";
}

<h3>Purchase Orders  &nbsp&nbsp @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-primary"})</h3>

<br />

<table class="table">
    <tr style="height: 10px;">
        <th>
            @Html.DisplayNameFor(model => model.OrderCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReceived)
        </th>
        <th data-sortable="false">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr style="height: 10px;">
        <td>
            @Html.DisplayFor(modelItem => item.OrderCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReceived)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class= "btn btn-primary"})
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class= "btn btn-primary"})
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class= "btn btn-primary"})
        </td>
    </tr>
}

</table>
 
@*@(Html.Kendo().Grid(Model)
      .Name("purchaseOrderGrid")
      .Columns(columns =>
        {
            columns.Bound(p => p.OrderCode).Title("Order Code");
            columns.Bound(p => p.OrderDate).Title("Order Date");
            columns.Bound(p => p.IsReceived).Title("IsReceived");
            columns.Template(c => @Html.ActionLink("Delete", "PurchaseOrder", new { id = c.ID }));
        })
      .Pageable() 
      .Sortable()
      .Filterable()
)*@




@section scripts
{
    @*<link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")" />
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>*@

    <script type="text/javascript" src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo.common.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/kendo.default.min.css")">
    
}


<script type="text/javascript">
    $(function () {
        $(".table").kendoGrid({
            sortable: true,
            pageable: true,
            dataSource: { pageSize: 10 },
            height: 581,
            selectable: "multiple",
            reorderable: true,
            resizable: true,
            filterable: true,
        });
    });
</script>