﻿@model Inventory.WebUI.DateTimeViewModel

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 ">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td width="100%" style="text-align: right"><strong>From Date</strong></td>
                                        <td width="100%">@Html.EditorFor(model => model.FromDate, new { @class = "form-control" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-xs-6 ">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td width="100%" style="text-align: right"><strong>To Date</strong></td>
                                        <td width="100%">@Html.EditorFor(model => model.ToDate, new { @class = "form-control" })</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix visible-xs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            @*<table>
                    <tr>
                        <td class="labels">
                            <label><b>From Date: </b></label>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.FromDate)
                        </td>
                        <td class="labels">
                            <label><b>To Date: </b></label>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.ToDate)
                        </td>
                    </tr>
                </table>*@

            @*<style>
                    .labels {
                        text-align: right;
                        width: 100px
                    }
                </style>*@

            <script type="text/javascript">
                $('#ToDate').on('change', function () {
                    //debugger;
                    if (Date.parse($('#FromDate').val()) > Date.parse($('#ToDate').val())) {
                        alert("'From Date' can't be greater than 'To Date'");
                        return;
                    }
                });

                $('#FromDate').on('change', function () {
                    //debugger;
                    if (Date.parse($('#FromDate').val()) > Date.parse($('#ToDate').val())) {
                        alert("'From Date' can't be greater than 'To Date'");
                        return;
                    }
                });
            </script>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
