﻿@model IEnumerable<Inventory.Domain.Menu>
@foreach (var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
        { 
            <li>
                <!--<a href="#" class="cMenu" id="@treeNode.MenuId">@treeNode.MenuName</a>-->

                @Html.ActionLink(treeNode.MenuName, "Modify", new { id=treeNode.MenuId })

                @if (treeNode.ChildMenuItems != null && treeNode.ChildMenuItems.Count > 0)
                {
                    @Html.Partial("ChildMenu", treeNode.ChildMenuItems)
                }
                @*@Html.ActionLink("Create Sub-Menu", "Create", new { id=treeNode.MenuId }) |
                @Html.ActionLink("Edit", "Edit", new { id=treeNode.MenuId }) |
                @Html.ActionLink("Delete", "Delete", new { id=treeNode.MenuId })*@
                
            </li> 
        }
    </ul>
}

<script>

    var menuId;

    $(".cMenu").click(function () {

        menuId = $(this).attr("id");
        alert(menuId);
    });

</script>