﻿@model IEnumerable<Inventory.Domain.Menu>
@{

    ViewBag.Title = "Menu Index";
}
<h2>Menu List</h2>
<div id="menuTree">
@foreach(var treeNode in Model)
{
    <ul id="tree">
        <li>
            @Html.ActionLink(@treeNode.MenuName, "Modify", new { id=treeNode.MenuId })

            @*@Html.ActionLink("Create Sub-Menu", "Modify", new { id=Model.MenuId }) |
            @Html.ActionLink("Edit", "Edit", new { id=Model.MenuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.MenuId })*@

            @Html.Partial("ChildMenu", treeNode.ChildMenuItems)
        </li>
    </ul>
}
</div>
<br />
@Html.ActionLink("Create Root Menu", "Create")