﻿@model Inventory.Domain.Parent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Parent</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Field1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field1)
                @Html.ValidationMessageFor(model => model.Field1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field2)
                @Html.ValidationMessageFor(model => model.Field2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        @(Html.Kendo().Grid(Model.Children)
    .Name("RequestLinesGrid")
    .Editable(editable => editable.Mode(Kendo.Mvc.UI.GridEditMode.InCell))
         .Columns(columns =>
         {
             columns.Bound(p => p.Id).ClientTemplate("#= Id #" +
              "<input type='hidden' name='MyLines[#= index(data)#].Id' value='#= Id #' />"
            );

             columns.Bound(p => p.ChildField1).ClientTemplate("#= ChildField1 #" +
               "<input type='hidden' name='MyLines[#= index(data)#].ChildField1' value='#= ChildField1 #' />"
             );
             columns.Bound(p => p.ChildField2).ClientTemplate("#= ChildField2 #" +
               "<input type='hidden' name='MyLines[#= index(data)#].ChildField2' value='#= ChildField2 #' />"
             );

             columns.Command(command =>
             {
                 command.Destroy();
             }).Width(200);
         })
    .DataSource(dataSource => dataSource.Ajax()
         .Model(m =>
         {
             m.Id(p => p.Id);
             m.Field(p => p.Id).Editable(false);
             m.Field(p => p.ChildField1).Editable(true);
             m.Field(p => p.ChildField2).Editable(true);

         })
         .Batch(true)
         .ServerOperation(false)
        // these are dummy action methods that don't really exist.
         .Update("upd", "upd")
         .Destroy("del", "del")
         .Create("cre", "cre")
    )
    .Navigatable())
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function index(dataItem) {
        var data = $("#RequestLinesGrid").data("kendoGrid").dataSource.data();

        return data.indexOf(dataItem);
    }
</script>